<div class="row">
  <%= erb :nav_panel, locals: {category:category, parent:parent, page:page, total:total}%>
</div>

<div class="row">
  <table class="table">
    <% articles.each_with_index do |item, index| %>
        <td>
          <%= erb :category, locals: item if item[:is_group] == 1 %>
          <%= erb :item, locals: item if item[:is_group] == 0 %>
        </td>

        <%= '</tr>' if index.modulo(3) == 2 %>
    <% end %>
  </table>
</div>