<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
    <img src="<%= '/images/'+ image %>" data-holder-rendered="true" style="height: 130px; width: 100%; display: block;">
    <div class="caption">
      <h4 class="text-center"><%= title %></h4>
    </div>
  </div>
</div>