
  <div class="thumbnail">
    <button class="btn btn-default">
      <h5 class="text-center"><%= title %></h5>
    </button>
    <div class="caption">
      <p>Содержит 10 наименований</p>
    </div>
  </div>
