<div class="thumbnail thumbnail-fixed">
  <button class="btn btn-default btn-stretched">
    <h5 class="text-center"><%= name %></h5>
  </button>

  <div class="caption">
    <p>Категория</p>
  </div>
</div>