<div id="container" class="container-fluid" role="main">
  <div class="row">
    <div class="col-sm-4" style="width: 400px;">
      <%= erb :order %>
      <div id="order-content"></div>
    </div>

    <div id="articles-content" class="col-sm-8">

    </div>

    <div id="payment-window">

    </div>
    <%= erb :payment %>


    <div>
      <a class="btn btn-warning" href="/reload" role="button">
         Обновить меню
      </a>

      <a class="btn btn-danger" href="/session/info" role="button">
        Закрыть смену
      </a>
    </div>

  </div>


</div>
