<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
    <% if image %>
      <img src="<%= '/images/'+ image %>" data-holder-rendered="true" style="height: 130px; width: 100%; display: block;">
    <% else %>
      <a href="#" class="btn btn-default btn-lg" style="height: 130px; width: 100%; display: block;">
        <%= title %>
      </a>
    <% end %>

    <div class="caption">
      <h4 class="text-center"><%= title %></h4>
      <p>Цена: <strong> 3500 тг. </strong></p>
    </div>
  </div>
</div>