
  <div class="thumbnail">
    <button class="btn btn-default">
      <h5 class="text-center"><%= title %></h5>

    </button>

    <div class="caption">
      <p>Цена: <strong> 3500 тг. </strong></p>
    </div>
  </div>
