<div class="thumbnail thumbnail-fixed">
  <button class="btn btn-default btn-stretched" onclick="alert('item');">
    <h5 class="text-center"><%= title %></h5>
  </button>

  <div class="caption">
    <p>Цена: <strong> 3500 тг. </strong></p>
  </div>
</div>
