<!DOCTYPE html>
<html>
  <head>
    <title>Fresh Market</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <!--<link rel="stylesheet" href="/styles/app.css">-->
    <link rel="stylesheet" href="/styles/bootstrap.css">

    <!--<link rel="stylesheet" href="/styles/bootstrap-theme.css">-->
    <!--STYLES END-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


  </head>

  <body>
   <%= yield %>
  </body>
</html>
