<!DOCTYPE html>
<html>
<head>
  <title>Fresh Market</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/app.css">


</head>

<body>
  <%= yield %>

  <script src="/js/jquery-2.1.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
