<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Fresh Market</a>
  </div>

  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
          Новый заказ
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Сотрудник <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Смена</a></li>
          <li><a href="#">Что-то еще</a></li>
          <li class="divider"></li>
          <li><a href="#">Выход</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>