<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Заказ
      <small class="pull-right">№0001</small>
    </h4>
  </div>
  <div class="panel-body">

    <table class="table table-hover ">
      <thead>
      <tr>
        <th>Наименование</th>
        <th>Кол-во</th>
        <th>Цена</th>
        <th>Итого</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Итальянская пицца</td>
        <td>
          <span class="badge"><span class="glyphicon glyphicon-minus"></span></span>
          2
          <span class="badge"><span class="glyphicon glyphicon-plus"></span></span>
        </td>
        <td>1500</td>
        <td>3000</td>
      </tr>

      <tr>
        <td>Американо</td>
        <td>
          <span class="badge"><span class="glyphicon glyphicon-minus"></span></span>
          1
          <span class="badge"><span class="glyphicon glyphicon-plus"></span></span>
        </td>
        <td>480</td>
        <td>480</td>
      </tr>

      <tr>
        <td>Компот</td>
        <td>
          <span class="badge"><span class="glyphicon glyphicon-minus"></span></span>
          1
          <span class="badge"><span class="glyphicon glyphicon-plus"></span></span>
        </td>
        <td>120</td>
        <td>120</td>
      </tr>
      </tbody>
    </table>


    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-success">Оплата</a>
      <!--<a href="#" class="btn btn-info">Скидка</a>-->
      <a href="#" class="btn btn-danger">Отменить</a>
    </div>
  </div>
</div>