<script type="text/jsx">
    var OrderButtonsBox = React.createClass({
        render: function () {
            return (
                <div className="nav-panel">
                    <a href="#" className="btn btn-lg btn-info pull-left">Очистить</a>
                    <a href="#" className="btn btn-lg btn-success pull-right">Оплата</a>
                </div>
            );
        }
    });

    var OrderTableBox = React.createClass({
        render: function () {
            var tableItems =  ""
            console.log(this.props.data)
//            var tableItems = this.props.data.map(function (item) {
//                console.log(item);
//                return (
//                        <tr>
//                            <td>[-]</td>
//                            <td>{item.name}</td>
//                            <td>1<b>x</b>{item.price} тг.</td>
//                        </tr>
//                );
//            });


            return (
                <div className="panel-body">
                    <table className="table table-condensed order-tbody">
                        <thead>
                            <th className="col-sm-2"></th>
                            <th className="col-sm-7">Наименование</th>
                            <th className="col-sm-3">Стоимость</th>
                        </thead>
                        <tbody id="articles-tbody">
                            {tableItems}
                        </tbody>
                    </table>
                </div>
            )
        }
    });

    var OrderHeaderBox = React.createClass({
        render: function () {
            return (
                <div className="panel-heading">
                    <h4 id="total-price">
                        Заказ: {this.props.data} тг.
                    </h4>
                </div>
            )
        }
    });

    var OrderPanel = React.createClass({
        getInitialState: function () {
            return {order_list: getOrderList()};
        },

        render: function () {
            var sum = this.state.order_list.length;
            return (
                <div className="panel panel-default order-panel">
                    <OrderHeaderBox data={sum}/>
                    <OrderTableBox data={this.state.order_list} />
                    <OrderButtonsBox />
                </div>
            )
        }
    });

    var mountedOrderPanel = React.render(<OrderPanel />, document.getElementById('order-content'));
</script>









