<div class="panel panel-default order-panel">
  <div class="panel-heading">
    <h4>
      Заказ
      <small class="pull-right">№0001</small>
    </h4>
  </div>
  <div class="panel-body">

    <table class="table table-condensed table-responsive ">
      <thead>
      <tr>
        <th>Наим.</th>
        <th>Цена</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Итальянская пицца</td>

        <td>2x1500</td>
      </tr>

      <tr>
        <td>Американо</td>

        <td>1x480</td>
      </tr>

      <tr>
        <td>Компот</td>
        <td>1x120</td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="nav-panel">
    <a href="#" class="btn btn-danger">Отменить</a>
    <a href="#" class="btn btn-info disabled">Скидка</a>
    <a href="#" class="btn btn-success">Оплата</a>
  </div>
</div>