<script type="text/jsx">
    var OrderButtonsBox = React.createClass({
        render: function () {
            return (
                    <div className="nav-panel">
                        <a href="#" className="btn btn-lg btn-info pull-left">Очистить</a>
                        <a href="#" className="btn btn-lg btn-success pull-right">Оплата</a>
                    </div>
            );
        }
    });

    var OrderItemButton = React.createClass({
        handleClick: function(event) {
            removeArticle(this.props.data);
        },

        render: function(){
            return <button type="button" className="btn btn-danger remove-item-btn" onClick={this.handleClick}> <b>-</b> </button>
        }
    });

    var OrderTableBox = React.createClass({
        render: function () {
            var tableItems = _.mapValues(this.props.data, function (item) {
                return (
                        <tr>
                            <td>
                                <OrderItemButton data={item.code} />
                            </td>
                            <td>{item.name}</td>
                            <td>
                                {item.count}
                                <b>x</b>
                                {item.price} тг.
                            </td>
                        </tr>
                );
            });


            return (
                    <div className="panel-body">
                        <table className="table table-condensed order-tbody">
                            <thead>
                                <th className="col-sm-2"></th>
                                <th className="col-sm-7">Наименование</th>
                                <th className="col-sm-3">Стоимость</th>
                            </thead>
                            <tbody id="articles-tbody">
                                {tableItems}
                            </tbody>
                        </table>
                    </div>
            )
        }
    });

    var OrderHeaderBox = React.createClass({
        render: function () {
            return (
                    <div className="panel-heading">
                        <h4 id="total-price">
                            Заказ: {this.props.data} тг.
                        </h4>
                    </div>
            )
        }
    });

    var OrderPanel = React.createClass({
        getInitialState: function () {
            return {order_list: getOrderList()};
        },

        render: function () {
            var sum_items = _.mapValues(this.state.order_list, function (item) {
                return item.price * item.count;
            });
            var sum = _.sum(sum_items);


            return (
                    <div className="panel panel-default order-panel">
                        <OrderHeaderBox data={sum}/>
                        <OrderTableBox data={this.state.order_list}/>
                        <OrderButtonsBox />
                    </div>
            )
        }
    });

    var mountedOrderPanel = React.render(<OrderPanel />, document.getElementById('order-content'));
</script>









