<div class="panel panel-default order-panel">
  <div class="panel-heading">
    <h4>
      Заказ
      <small class="pull-right">№0001</small>
    </h4>
  </div>

  <div class="panel-body">
    <table class="table table-condensed order-tbody" >
      <thead>
        <th class="col-sm-2"></th>
        <th class="col-sm-7">Наименование</th>
        <th class="col-sm-3">Стоимость</th>
      </thead>
      <tbody id="articles-tbody">

      </tbody>
    </table>

    <div class="nav-panel">
      <a href="#" class="btn btn-info pull-left" onclick="emptyOrder();">Новый</a>
      <a href="#" class="btn btn-success pull-right">Оплата</a>
    </div>

  </div>


</div>