<script type="text/jsx">
  var PaymentInfoBox = React.createClass({
    render: function () {
      var total = this.props.data.total;
      var charge = this.props.data.charge;
      var change = charge - total;

      return (
        <div id="payment-info">
          <table>
            <tr>
              <td>Итого:</td>
              <td>
                <input type="text" className="form-control" id="total" value={total}/>
              </td>
            </tr>

            <tr>
              <td>Внесено:</td>
              <td>
                <input type="text" className="form-control" id="charge" value={charge}/>
              </td>
            </tr>

            <tr>
              <td>Сдача:</td>
              <td>
                <input type="text" className="form-control" id="change" value={change > 0 ? change : 0}/>
              </td>
            </tr>
          </table>
        </div>
      );
    }
  });

  var NoteNumpadButton = React.createClass({
    add: function () {
      chargeAddNote(this.props.val);
    },
    render: function () {
      return (
        <td>
          <button type="button" className="btn btn-lg btn-default btn-num" onClick={this.add}>{this.props.val}</button>
        </td>
      )
    }
  });

  var NumberNumpadButton = React.createClass({
    add: function () {
      chargeAddNumber(this.props.val);
    },
    render: function () {
      return (
        <td>
          <button type="button" className="btn btn-lg btn-default btn-num" onClick={this.add}>{this.props.val}</button>
        </td>
      )
    }
  });

  var RemoveNumpadButton = React.createClass({
    remove: function () {
      chargeRemoveNumber();
    },
    render: function () {
      return (
        <td>
          <button type="button" className="btn btn-lg btn-default btn-num" onClick={this.remove}>
            <span className="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </button>
        </td>
      )
    }
  });

  var EmptyNumpadButton = React.createClass({
    remove: function () {
      emptyCharge();
    },
    render: function () {
      return (
        <td>
          <button type="button" className="btn btn-lg btn-default btn-num" onClick={this.remove}>
            <span className="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </td>
      )
    }
  });

  var PaymentNumpad = React.createClass({
    render: function () {
      return (
        <div>
          <table>
            <tr>
              <NumberNumpadButton val="7"/>
              <NumberNumpadButton val="8"/>
              <NumberNumpadButton val="9"/>

              <NoteNumpadButton val="10000"/>
              <RemoveNumpadButton />
            </tr>
            <tr>
              <NumberNumpadButton val="4"/>
              <NumberNumpadButton val="5"/>
              <NumberNumpadButton val="6"/>

              <NoteNumpadButton val="5000"/>
              <EmptyNumpadButton />
            </tr>
            <tr>
              <NumberNumpadButton val="1"/>
              <NumberNumpadButton val="2"/>
              <NumberNumpadButton val="3"/>

              <NoteNumpadButton val="1000"/>
              <NoteNumpadButton val="2000"/>
            </tr>
            <tr>
              <NumberNumpadButton val="0"/>
              <NumberNumpadButton val="00"/>
              <NumberNumpadButton val="000"/>

              <NoteNumpadButton val="200"/>
              <NoteNumpadButton val="500"/>
            </tr>


          </table>

          <button id="payButton" type="button" className="btn btn-stretched btn-success disabled" >Оплата</button>

        </div>
      )
    }
  });

  var PaymentWindow = React.createClass({
    getInitialState: function () {
      return {
        total: getOrderListTotal(),
        charge: getCharge()
      }
    },

    render: function () {
      return (
        <div id="paymentModal" className="modal fade" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel"
             aria-hidden="true">
          <div className="modal-dialog">
            <div className="modal-content">
              <div className="modal-header">
                <button type="button" className="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 className="modal-title text-center" id="exampleModalLabel">Оплата</h4>
              </div>

              <div className="modal-body">
                <PaymentInfoBox data={this.state}/>

                <PaymentNumpad />

              </div>
            </div>
          </div>
        </div>
      )
    }
  });

  var mountedPaymentWindow = React.render(<PaymentWindow />, document.getElementById("payment-window"));
</script>