<div id="sessionInfo" class="row">
  <h1 class="text-center">Денег в кассе: <%= @session[:total] %> тг.</h1>

  <a id="close-session-btn" class="btn btn-danger" href="/session/close" role="button">
    <h1>Закрыть смену</h1>
  </a>
<br>
  <a id="close-session-btn" class="btn btn-success" href="/" role="button">
    <h1>Назад</h1>
  </a>
</div>