.container {
    width: 970px !important;
}

[class*="col-"] {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

td {
    padding: 5px !important;
}

.btn-stretched {
    width: 100%;
    white-space: normal;
    height: 100px;
    margin-bottom: 5px;
}

.btn-stretched h5 {
    margin-top: 0px;
}

.order-panel {
    height: 730px !important;
}

.panel-body {
    padding: 0px;
}

.nav-panel {
    margin: 1px 10px 5px;
    padding: 5px;
}

.order-tbody {
    height: 600px;
    overflow: auto;
    display: block;
    margin: 0px;
}

.btn-num {
    margin: 5px;
    width: 72px;
    height: 56px;
}

.btn-stretched {
    margin: 5px;
    width: 100%;
}

.modal-content {
    width: 440px;
}

.form-group {
    margin: 10px;
}

#open-session-btn {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 30%;
}
#close-session-btn {
    width: 400px;
    height: 100px;
    margin: 15px;
}

#sessionInfo {
    position: absolute;
    top: 30%;
    left: 30%;
}

.modal-content {
    width: 500px;
}