[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*body {*/
  /*padding-top: 70px;*/
  /*padding-bottom: 30px;*/
/*}*/


.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.error {
  color: #FF0000;
}

.page-title {
  margin-left: 20px;
}

.btn-stretched {
  width:100%;
}
